.w{
    color: white !important;
}

.main{
    background:linear-gradient(rgba(0.5, 0, 0, 0.4), rgba(0.4, 0, 0, 0.4)), url('https://occ-0-2991-2164.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQzoSqSg1HlhLnyHj-wlM2wmBGtqBSUZSkMAR9YqSYFFBCdFFJv2iZNaqoSMex3qVmdpjeZU2ExFSYtUOsbA2hzsKso-f-CryuWh.webp?r=d06');   
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:90vh;
    background-repeat:no-repeat;
    background-size:cover;
}
.mainn{
    background:linear-gradient(rgba(0.5, 0, 0, 0.4), rgba(0.4, 0, 0, 0.4)), url('https://occ-0-2991-2164.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABSVUyJ1vOxT5NesLl16kAbV2JaVG4pcFclOpwnCm88jEZCd6dflxdSjinI2HyhB9h5J5QGJYhiFe4m3ugjC8jnh_j3cyf8FSfeYn.webp?r=cc9');   
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:90vh;
    background-repeat:no-repeat;
    background-size:cover;
}
 
.logo{
    width: 400px;   
}
.mainrow{
    margin-top: 100px;
    width: 100%;
}
.btn1{
    height: 50px;
    width: 130px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}
.btnn{
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-weight: 600;
    border: white;
    border-radius: 5px;
    
}
.btn1:hover , .btn2:hover{
    opacity: 0.7;
}
.btn2{
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
   background-color: gray;
   border-radius: 5px;
}
.con{
    margin-left: 100px;
    
}
.colleft{
    display: flex;
    justify-content: right;
    align-items: end;

}
.label{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 130px;
    color: white;
}
.line{
    background-color: white;
    width: 5px;
    height: 40px;
}
.hhov:hover{
    background-color: #000100;
    height: 110px;
    box-shadow: 1px 1px  grey;
}