.in{
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}

.b{
   
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.p{
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-right: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.colhov{
    width: 220px;
    height: 100px;
    z-index: 5;
   
}